<ion-header>
  <ion-toolbar>
    <ion-button style="font-size: 80%;" [routerLink]="['/home']" routerDirection="back" fill="clear">
      Voltar
    </ion-button>

    <ion-title>
      Relatório Inicial
    </ion-title>
  </ion-toolbar>

  <ion-toolbar>

    <ion-text style="width: 100%;" color="primary">
      <h3 *ngIf="ListaDados[0]">Vendedores da Semana</h3>
      <h3 *ngIf="ListaDados[1]">Pasteis</h3>
      <h3 *ngIf="ListaDados[2]">Financeiro</h3>
    </ion-text>
  </ion-toolbar>

</ion-header>

<ion-content>

  <ion-card mode="ios" *ngIf="ListaDados[0]">
    <ion-card-header>
      <ion-card-title>Integrande do Grupo</ion-card-title>
      <ion-card-subtitle>É necessario que preenchem os tres primeiros campos</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      <ion-input type="text" [(ngModel)]="formMembros[0].nome" placeholder="Digite nome "></ion-input>
      <ion-input type="text" [(ngModel)]="formMembros[1].nome" placeholder="Digite nome "></ion-input>
      <ion-input type="text" [(ngModel)]="formMembros[2].nome" placeholder="Digite nome "></ion-input>
      <ion-input type="text" [(ngModel)]="formMembros[3].nome" placeholder="Digite nome "></ion-input>
      <ion-input type="text" [(ngModel)]="formMembros[4].nome" placeholder="Digite nome "></ion-input>
      <ion-input type="text" [(ngModel)]="formMembros[5].nome" placeholder="Digite nome "></ion-input>
    </ion-card-content>
  </ion-card>

  <ion-card mode="ios"  *ngIf="ListaDados[1]">
    <ion-card-header>
      <ion-card-title>Pasteis</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>

      Carne:<ion-input     [(ngModel)]="formPasteis.carne"   type="number" placeholder="Digite o de pasteis de Carne"></ion-input>
      Queijo:<ion-input    [(ngModel)]="formPasteis.queijo"   type="number" placeholder="Digite o de pasteis de Queijo"></ion-input>
      Pizza:<ion-input     [(ngModel)]="formPasteis.pizza"   type="number" placeholder="Digite o de pasteis de Pizza"></ion-input>
      Frango:<ion-input    [(ngModel)]="formPasteis.frango"   type="number" placeholder="Digite o de pasteis de Frango"></ion-input>
      Calabresa:<ion-input [(ngModel)]="formPasteis.calabresa"   type="number" placeholder="Digite o de pasteis de Calabresa"></ion-input>

    </ion-card-content>
  </ion-card>
  



  <ion-card mode="ios"  *ngIf="ListaDados[2]" >
    <ion-card-header>
      
      <ion-card-title>Informação de Caixa</ion-card-title>
    </ion-card-header>
  
  <ion-card-content>

      <span style="float:left; padding: 8% 2%;">R$:</span><ion-input type="number" [(ngModel)]="formValorCaixa" style="float:left; width: 86%;" placeholder="Digite o valor do Caixa inicial"></ion-input>

    </ion-card-content>

    
  </ion-card>
  <div *ngIf="ListaDados[2]" >
    <ion-label style="margin-left: 5%;font-size: 90%;">OBS: Use  <b>PONTO ( . )</b> ao inves de Virgula</ion-label>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
    
    <ion-button color="light" (click)="Voltar()"  *ngIf="ListaDados[1] || ListaDados[2]">
      <ion-icon src='../assets/icones/arrow-back.svg'></ion-icon>
    </ion-button>

    <ion-button (click)="EnviarDados()"  *ngIf="RelatorioCompleto[0] && RelatorioCompleto[1] && RelatorioCompleto[2]">
      <ion-icon src='../assets/icones/send.svg'></ion-icon>Enviar Relatorio
    </ion-button>

    <ion-button color="light" (click)="Avancar()">
      <ion-icon src='../assets/icones/arrow-forward.svg'></ion-icon>
    </ion-button>

  </ion-toolbar>
</ion-footer>
