<ion-header>
  <ion-toolbar>
    <ion-title>
      Formulário de Relatório
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    
    
    <ion-button [routerLink]="['/form-inicial']" routerDirection="forward" expand="block">
      Ir para Formulário Inicial
    </ion-button>
  
    <ion-button [routerLink]="['/form-final']" routerDirection="forward" expand="block">
      Ir para Formulário Final  </ion-button>

    <ion-button style="margin-top: 50%;" (click)="onClick()" expand="block" disabled="true">
        Gerar relatório
    </ion-button>

  </div>

</ion-content>
